
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>Static Top Navbar Example for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="navbar-static-top.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <!-- Static navbar -->
    <div class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Exceller</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Products</a></li>
            <!--
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
            -->
          </ul>

          <% if session['logged'] && session['logged'] == true %>
            <ul class="nav navbar-nav navbar-right">
              <li><a target="_blank" href="<%= url_admin %>"><%= session['login'] %></a></li>
              <li><a href="/sign-out">Logout</a></li>
            </ul>
          <% else %>
            <form class="navbar-form navbar-right" role="form" action="/sign-in" method="post">
              <div class="form-group">
                <label class="sr-only" for="store_code">Store Code</label>
                <input type="text" name="store-code" class="form-control" placeholder="Store Code">
              </div>
              <div class="form-group">
                <label class="sr-only" for="api_token">API Token</label>
                <input type="text" name="api-token" class="form-control" placeholder="API Token">
              </div>
              <button type="submit" class="btn btn-success">Sign in</button>
            </form>  
          <% end %>
        </div><!--/.nav-collapse -->
      </div>
    </div>


    <div class="container">
      <table class="table table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>ID</th>
          <th>Name</th>
          <th>SKU</th>
          <th>Weight</th>
          <th>Stock</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>        
        <% j = 1 %>        
        <% $products.each do |product| %>
          <% if !has_variants?(product) #simple product%>
            <tr>
              <td><%= j %></td>
              <td><a href="<%= "#{url_admin}/products/edit/#{product["product"]["id"]}" %>"><%= product["product"]["id"] %></a></td>
              <td><%= product["product"]["name"] %></td>
              <td><%= product["product"]["sku"] %></td>              
              <td><%= product["product"]["weight"] %></td>
              <td><%= product["product"]["stock"] %></td>
              <td><%= product["product"]["price"] %></td>
            </tr>
            <% j += 1 %>
          <% else #product with variants %>
            <tr>
              <td><%= j %></td>
              <td><a href="<%= "#{url_admin}/products/edit/#{product["product"]["id"]}" %>"><%= product["product"]["id"] %></a></td>
              <td><%= product["product"]["name"] %></td>
              <td><!--sku--></td>
              <td><!--weight--></td>
              <td><!--stock--></td>
              <td><!--price--></td>
            </tr>
              <% product["product"]["variants"].each do |variant| %>
                <tr>
                  <td class="active"><!--#--></td>
                  <td class="active"><!--id--></td>
                  <td>
                  <% variant["options"].each_with_index do |option, index| %>
                    <span><%= option["name"] %>:</span>
                    <span><%= option["value"] %></span>
                    <% if index < variant["options"].size - 1 %>, <% end %>
                  <% end %>
                  </td>
                  <td><%= variant["sku"] %></td>
                  <td><%= variant["weight"] %></td>
                  <td><%= variant["stock"] %></td>
                  <td><%= variant["price"] %></td>
                </tr>
              <% end %>
            
            <% j += 1 %>
          <% end %>
        <% end %>
      </tbody>
    </table>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>