
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Exceller | Jumpseller</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/navbar-static-top.css" rel="stylesheet">
    <link href="css/bootstrap-editable.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <!-- Static navbar -->
    <div class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Exceller</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/products">Products</a></li>            
            <!--
            <li><a href="#contact">Contact</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
            -->
          </ul>

          <% if session['logged'] && session['logged'] == true %>
            <ul class="nav navbar-nav navbar-right">
              <li><a target="_blank" href="<%= url_admin %>"><%= session['login'] %></a></li>
              <li><a href="/sign-out">Logout</a></li>
            </ul>
          <% else %>
            <form class="navbar-form navbar-right" role="form" action="/sign-in" method="post">
              <div class="form-group">
                <label class="sr-only" for="api_login">API Login</label>
                <input type="text" name="api-login" class="form-control" placeholder="API Login">
              </div>
              <div class="form-group">
                <label class="sr-only" for="api_token">API Token</label>
                <input type="text" name="api-token" class="form-control" placeholder="API Token">
              </div>
              <button type="submit" class="btn btn-success">Sign in</button>
            </form>  
          <% end %>
        </div><!--/.nav-collapse -->
      </div>
    </div>


    <div class="container">
      <table class="table table-hover">
      <thead>
        <tr>
          <th>ID</th>
          <th style="width:80%;">Name</th>
          <th>Status</th>
          <th>SKU</th>
          <th>Weight</th>
          <th>Stock</th>
          <th>Price</th>
          <th style="width:20px;" colspan="2"></th>
          <th style="width:20px;"></th>
        </tr>
      </thead>
      <tbody>             
        <% @products.each do |product| %>
          <% if !has_variants?(product) #simple product%>
            <tr id="<%=product["product"]["id"]%>">    
              <td><a target="_blank" href="<%= "#{url_admin}/products/edit/#{product["product"]["id"]}" %>"><%= product["product"]["id"] %></a></td>
              <td><a href="#" id="name" class="editable" data-type="text" data-pk="<%=product["product"]["id"]%>"><%= product["product"]["name"] %></a></td>
              <td><a href="#" id="status" class="editable" data-type="select" data-source="{ 'available': 'Available', 'not-available': 'Not Available', 'disabled': 'Disabled'}" data-pk="<%=product["product"]["id"]%>"><%= product["product"]["status"] %></a></td>
              <td><a href="#" id="sku" class="editable" data-type="text" data-pk="<%=product["product"]["id"]%>"><%= product["product"]["sku"] %></a></td>
              <td><a href="#" id="weight" class="editable" data-type="text" data-pk="<%=product["product"]["id"]%>"><%= product["product"]["weight"] %></td>
              <td><a href="#" id="stock" class="editable" data-type="text" data-pk="<%=product["product"]["id"]%>"><%= product["product"]["stock"] %></td>
              <td><a href="#" id="price" class="editable" data-type="text" data-pk="<%=product["product"]["id"]%>"><%= product["product"]["price"] %></td>
              <td><i class="fa fa-th-large open-categories"></td>
              <td><a href="#" class="categories" data-type="checklist" data-pk="<%=product["product"]["id"]%>" data-title="Select Categories"></a></td>
              <td><a href="<%= "/delete-product/#{product["product"]["id"]}" %>"><i class="fa fa-trash-o"></i></a></td>
          <% else #product with variants %>
            <tr>
              <td><a target="_blank" href="<%= "#{url_admin}/products/edit/#{product["product"]["id"]}" %>"><%= product["product"]["id"] %></a></td>
              <td><a href="#" id="name" class="editable" data-type="text" data-pk="<%=product["product"]["id"]%>"><%= product["product"]["name"] %></a></td>
              <td><a href="#" id="status" class="editable" data-type="select" data-source="{ 'available': 'Available', 'not-available': 'Not Available', 'disabled': 'Disabled'}" data-pk="<%=product["product"]["id"]%>"><%= product["product"]["status"] %></a></td>
              <td><!--sku--></td>
              <td><!--weight--></td>
              <td><!--stock--></td>
              <td><!--price--></td>
              <td><i class="fa fa-th-large open-categories"></td>
              <td><a href="#" class="categories" data-type="checklist" data-pk="<%=product["product"]["id"]%>" data-title="Select Categories"></a></td>
              <td><a href="<%= "/delete-product/#{product["product"]["id"]}" %>"><i class="fa fa-trash-o"></i></a></td>
            </tr>
              <% product["product"]["variants"].each do |variant| %>
                <tr>
                  <td class="active"><!--id--></td>
                  <td>
                  <% variant["options"].each_with_index do |option, index| %>
                    <span><%= option["name"] %>:</span>
                    <span><%= option["value"] %></span>
                    <% if index < variant["options"].size - 1 %>, <% end %>
                  <% end %>
                  </td>
                  <td><!--product status--></td>
                  <% prod_id = "#{product["product"]["id"]}-#{variant["id"]}" %>
                  <td><a href="#" id="sku" class="editable-variant" data-type="text" data-pk='<%=prod_id%>'><%= variant["sku"] %></td>
                  <td><a href="#" id="weight" class="editable-variant" data-type="text" data-pk='<%=prod_id%>'><%= variant["weight"] %></td>
                  <td><a href="#" id="stock" class="editable-variant" data-type="text" data-pk='<%=prod_id%>'><%= variant["stock"] %></td>
                  <td><a href="#" id="price" class="editable-variant" data-type="text" data-pk='<%=prod_id%>'><%= variant["price"] %></td>
                  <td><!--cats--></td>
                  <td><!--cats--></td>
                  <td><!--delete product--></td>
                </tr>
              <% end %>
          <% end %>
        <% end %>
      </tbody>
    </table>

    <ul class="pager">
      <% if @page > 1 %><li class="previous"><a href="<%= "/?page=#{@page - 1}" %>">&larr; Previous</a></li><% end %>
      <li class="badge"><%= "#{@page > 1 ? (PRODUCTS_LIMIT * @page) : @products.count} of #{@products_count} Products" %></li>
      <li class="badge"><%= "Page #{@page} of #{(@products_count.to_f/PRODUCTS_LIMIT).ceil}" %></li>
      <% if @products_count > @page * PRODUCTS_LIMIT %><li class="next"><a href="<%= "/?page=#{@page + 1}" %>">Next &rarr;</a></li><%end%>
    </ul>

    </div> <!-- /container -->
    <div id="footer">
      <div class="container">
        <p class="text-muted center">© 2014 <a target="_blank" href="http://jumpseller.com">Jumpseller</a> · Exceller is an external mini-app. You can use it and <a target="_blank" href="https://github.com/Jumpseller/exceller">modify it</a> as you wish.</p>
      </div>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/bootstrap-editable.js"></script>
    <script>
    $(function(){

      $.fn.editable.defaults.mode = 'inline';
      $('.editable').editable({
        url: '/edit-product'
      });
      $('.editable-variant').editable({
        url: '/edit-product-variant'
      });
      $('.open-categories').click(function(e) {
        var product_id = $(this).parents("tr").attr("id"); //find product id
        var product_categories = $('.open-categories').first().parent().next().children("a.categories"); //find editable <a> holder
        var product_url = '/product/' + product_id
        
        $.get(product_url, function( json ) {
          var product = $.parseJSON(json).product;

          var values = [];
          $.each(product.categories, function( index, value ) {
            values.push(value.id);
          });

          product_categories.editable({
            mode: 'popup',
            value: values,
            display : false,
            placement: 'left',
            source: '<%= @categories_json %>',
            url: '/edit-product-categories'
          });
          product_categories.editable('toggle');
        });
        
      });

    });//function
    </script>
  </body>
</html>